<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner d-flex">
          <a href="{{ '/' | prepend: site.baseurl }}">
            {{ site.logo }}
          </a>
          <ul class="d-flex">
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
            {% for item in site.data.social %}
            <li>
              <a href="{{ item.link }}"><i class="{{ item.image }}"></i></a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>