<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-9 col-md-8 d-flex justify-content-start">
        <a class="logo" href=" {{ site.baseurl }}/">
          LS
        </a>
      </div>
      <div class="col-md-4 d-none d-md-flex">
        <div id="main-menu" class="main-menu">
          {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
          <ul>
            {% for item in mainmenu %}
            <li class="{% if item.url == page.url %} active {% endif %}">
              <a href="{{ item.url | prepend: site.baseurl }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-end">
        <button id="toggle-main-menu-mobile" class="hamburger hamburger--slider" type="button" aria-label="Mobile Menu">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>