---
# this ensures Jekyll reads the file to be transformed into CSS later
---

// Colors
$unused-color: #fff;
$primary-pink: #DA2B42;
$secondary-pink: #F5B7C3;
$primary-orange: #FB9501;
$secondary-orange: #FCAC39;
$black: #2f2f41;
$white: #ffffff;
$gray: #F5F5F5;

// Links
$link-color: $primary-pink;
$link-decoration: none;
$link-hover-color: lighten($primary-pink, 10%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: 'Lato', Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Playfair Display', serif, -apple-system;

// Footer
$footer-background-color: $secondary-pink;
$footer-text-color: $white;
$footer-height: 2.7rem; 

// Banner
$banner-height: 27rem;
$banner-sm-height: 20rem; 

// Transitions
$transition-speed: 0.4s;

// Spacing
$global-spacer: 10%; 

// Libraries
@import 'libraries/hamburgers/hamburgers';
@import 'libraries/bootstrap/css/bootstrap';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/main-menu-mobile';
@import 'components/title';
@import 'components/home';
@import 'components/blog';
@import 'components/card';
@import 'components/post';
@import 'components/contact'; 
@import 'components/code';

// Fonts
@font-face {
  font-family: 'Linux Libertine'; /* normal */
  src: url('https://linuxlibertine.sourceforge.net/fonts/LinLibertine_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Text selection color from (https://www.braydoncoyer.dev/blog/change-text-highlight-color-with-css)
::selection {
  background: $secondary-pink;
  color: $white;
}

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
}

// Horizontal spacing for every div (since I can't manage to adjust the $spacer variable)
.container {
  padding-left: $global-spacer; 
  padding-right: $global-spacer; 
}

// styling for all links
a {
  color: $primary-pink;
  text-decoration: none;
  &:hover {
    color: $primary-orange;
  }
}

h1 {
  color: $black;
  font-family: $font-family-heading;
  font-size: 3.2rem;
  font-style: normal; 
  font-weight: 500;
  line-height: normal; 
  padding-top: 7rem;

  @media (min-width: 768px) {
    font-size: 4rem; 
  }
}
h2 {
  font-size: 2rem;
  line-height: 1.4;
  color: $black;
  font-family: $font-family-heading;
}
h3 {
  font-size: 1.2rem; 
  line-height: normal;
  color: $black;
  font-family: $font-family-base;
  font-weight: bold; 
  padding-bottom: 0.3rem;
  padding-top: 1rem; 
}
