.subpage-banner {
  background-size: cover !important;
  height: $banner-sm-height; 
  flex-shrink: 0;
  padding-top: 4rem; 
  margin-top: -4rem; 
  
  > .container {
    padding-left: $global-spacer; 
    padding-right: $global-spacer;
  }

  h1 {
    color: $black;
    font-size: 4rem;
    font-style: normal; 
    font-weight: 500;
    line-height: normal; 
    padding-top: 7rem;
  }
}

.blog {
  min-height: calc(100vh - (20rem + $footer-height));
  .card-img-top {
    height: 15vh; 
    object-fit: cover;
  }
}
