// Project Cards
.card {
  border: 0px transparent; 
  background: $gray;
  border-radius: 1.875rem; 
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 100%; 

  > img {
    width: 100%; 
    height: auto; 
  }

  // buttons
  button {
    border: 2px solid $black; 
    color: $black;
    background-color: $white;
    border-radius: 1.875rem; 
    width: 8rem;
    height: 2.3rem; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all $transition-speed ease 0s; 

    &:hover {
      box-shadow: none;
    }

    &::after {
      background-color: $white;
      border-radius: 1.875rem; 
      width: 9rem;
      height: 2.8rem; 
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      transition: all $transition-speed ease 0s; 
      border: 2px solid $primary-orange; 
      color: $primary-orange;
    }
  }
  .card-img, .card-img-top {
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
  }
}