.contact {
  > .container {
    min-height: calc(100vh - (20rem + $footer-height));
  }
  img {
    width: auto;
    height: 10rem; 
  }
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $primary-pink;
    }
  }
}