.footer {
  background: $footer-background-color;
  height: $footer-height; 
  .footer-inner {
    justify-content: space-between;
    align-items: center;
    @media (min-width: 576px) {
      flex-direction: row;
    }
    > a {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.3rem;
      font-family: $font-family-heading;
      font-weight: bold;
      margin-bottom: 0; 
      &:hover {
        color: $primary-pink;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      color: $footer-text-color;
      font-size: 1rem;
      a {
        color: $footer-text-color;
        text-decoration: none;
        padding: 12px 14px 12px 0;
        display: block;
        &:hover {
          color: $primary-pink;
        }
      }
    }
    @media (min-width: 576px) {
      height: inherit;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: flex-end;
      li {
        list-style: none;
        margin-right: 10px;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          display: inline-block;
          height: 40px;
          padding: 10px 8px 10px 8px;
        }
      }
    }
  }
}
