.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  height: 4rem; 

  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
  // LS
  .logo {
    text-decoration: none;
    color: $white; 
    font-family: $font-family-heading;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &:hover {
      color: $primary-pink;
    }
  }

  // Navigation
  .main-menu {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    > ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: $font-family-base;
      > li {
        list-style: none;
        font-size: 1rem;
        > a {
          padding: 10px 12px 10px 12px;
          display: inline-block;
          font-weight: normal;
          text-decoration: none;
          color: $white;
          &:hover {
            color: $primary-pink;
          }
        }
        &.active {
          > a {
            font-weight: bold;
            text-decoration: none;
            color: $primary-pink;

            &:hover {
              text-decoration: none;
              transition: all 225ms ease-in 0s;
            }
          }
        }
      }
    }
  }
  

  // hamburger  
  .hamburger {
    padding: 10px;
    outline: none;
    z-index: 30;
    cursor: pointer;
    @media (min-width: 768px) {
      display: none;
    }
    &:focus {
      outline: none;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background: $white;
    }
    .hamburger-inner::after {
      width: 18px;
      right: 0;
    }
    &.is-active {
      .hamburger-inner::after {
        width: inherit;
        right: unset;
        background: $secondary-pink;
      }
      .hamburger-inner {
        background: $secondary-pink;
      }
    }
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
