// Homepage Background Image
.bg-banner {
  background-size: cover !important;
  height: $banner-height; 
  flex-shrink: 0;
  padding-top: 4rem; 
  margin-top: -4rem; 
  
  > .container {
    padding-left: $global-spacer; 
    padding-right: $global-spacer;
  }

  h1 {
    color: $black;
    font-family: $font-family-heading;
    font-size: 3.2rem;
    font-style: normal; 
    font-weight: 500;
    line-height: normal; 
    padding-top: 7rem;
    @media (min-width: 768px) {
      font-size: 4rem; 
    }
  }
  // to style the subheading on the homepage
  .subheading {
    font-size: 2.5rem; 
    font-family: $font-family-heading;
    font-style: italic; 
    font-weight: 400; 
    letter-spacing: -0.2rem;
    background: linear-gradient(90deg, $primary-pink, $secondary-pink, $secondary-orange, $primary-orange 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 768px) {
      font-size: 3rem; 
    }
  }
}

.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-height: calc(100vh - (20rem + $footer-height));
  h1 {
    color: $black;
    font-family: $font-family-heading;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    @media (min-width: 768px) {
      width: 80%;
      font-size: 48px;
    }
    @media (min-width: 992px) {
      font-size: 50px;
    }
  }
  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  h4 {
    font-family: $font-family-heading;
    font-size: 2.3rem; 
    font-style: normal; 
    font-weight: 500; 
    line-height: normal; 
  }
  p {
    font-size: 1rem;
    font-weight: light;
    line-height: 1.5;
    color: $black;
  }
  // profile image on homepage
  .profile-image {
    width: auto;
    height: 10rem;
  }
  // buttons
  button {
    background-color: $white;
    border-radius: 1.875rem; 
    width: 4rem;
    height: 1.7rem; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all $transition-speed ease 0s; 

    @media (min-width: 768px) {
      width: 8rem;
      height: 2.3rem;
    }

    &:hover {
      box-shadow: none;
    }

    &::after {
      background-color: $white;
      border-radius: 1.875rem; 
      width: 9rem;
      height: 2.8rem; 
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      transition: all $transition-speed ease 0s; 
      border: 2px solid $primary-orange; 
      color: $primary-orange;
    }
  }
  .card-img-top {
    height: 15vh; 
    object-fit: cover;
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
