.post {
  > .container {
    min-height: calc(100vh - (20rem + $footer-height));
  }
  .blog-title {
    padding-top: 0;
    margin-top: -10rem;  
  }
  .back-link {
    text-decoration: none; 
    color: $secondary-pink; 
    &:hover {
      color: $primary-pink;
    }
  }
  p {
    margin-top: 1rem; 
    margin-bottom: 1rem; 
  }
  ol {
    list-style: none;
    counter-reset: list-counter;
    line-height: 180%;
    padding-left: 2rem; 
    padding-bottom: 1rem;
    > li {
      counter-increment: list-counter;
      &::before {
        content: counter(list-counter) ". ";
        font-weight: 600; 
        font-size: 0.95rem;
        font-style: $font-family-base;
      }
    }
  }
}
