---
title: Blog
layout: default
bodyClass: page-blog
---
<div class="jumbotron subpage-banner text-white"
  style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.44) 0%, #FFF 88.33%, #FFF 100%), url({{ page.intro_image | prepend: site.baseurl}}), lightgray 0px -225.116px / 100% 163.517% no-repeat;">
  <div class="container pt-6">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="container blog pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row pt-3 pb-5 d-flex">

    {% for post in site.posts %}
      <div class="col-12 col-md-6 col-lg-4 py-3">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="{{ post.image | prepend: site.baseurl }}" alt="Project Card Image" />
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text"> {{ post.description }} </p>
            <a href="{{ site.baseurl }}{{ post.url }}">
              <button type="button">
                Read more.
              </button>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

  </div>
</div>
