---
title: Contact
layout: default
bodyClass: page-contact
---
<div class="jumbotron subpage-banner text-white"
  style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.44) 0%, #FFF 88.33%, #FFF 100%), url({{ site.banner_image | prepend: site.baseurl}}), lightgray 0px -225.116px / 100% 163.517% no-repeat;">
  <div class="container pt-6">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="contact">
  <div class="container">
    <div class="row">
    {% assign contact = site.data.contact %}
      <div class="col-12 col-md-9">
        <h5>Email: <a href="mailto: {{ contact.email }}">{{ contact.email }}</a></h5>
      </div>
      <div class="col-12 col-md-3 py-3 d-flex justify-content-center">
        <img src="{{ contact.image | prepend: site.baseurl }}" class="rounded" />
      </div>
    </div>
  </div>
</div>