---
title: Home
layout: default
bodyClass: page-home
---
{%- comment -%} <img src="{{ page.intro_image | prepend: site.baseurl }}" class="img-fluid" alt="Homepage background image"/> {%- endcomment -%}
<div class="jumbotron bg-banner text-white" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.44) 0%, #FFF 88.33%, #FFF 100%), url({{ page.intro_image | prepend: site.baseurl}}), lightgray 0px -225.116px / 100% 163.517% no-repeat;">
  <div class="container pt-6">
    <h1><span>Hi, I'm </span>{{ site.title }}.</h1>
    <h3 class="subheading"> {{ site.subtitle }} </h3>
  </div>
</div>

<div class="intro">
  <div class="container">
    <div class="row pb-5 d-flex justify-content-start">
      <div class="col-12 col-md-9 d-flex justify-content-around">
      {%- comment -%} Buttons {%- endcomment -%}
        {% for item in site.data.social %}
        <a href="{{ item.link }}" target="_blank">
          <button type="button" style="border: 2px solid {{ item.color }}; color: {{ item.color}};">
            <i class="{{ item.image }}"></i><span class="ms-2 d-none d-md-inline">{{ item.name }}</span>
          </button>
        </a>
        {% endfor %}
      </div>
    </div>
    {%- comment -%} Description about myself {%- endcomment -%}
    <div class="row d-flex justify-content-start h-100">
      <div class="col-9 d-flex flex-column"> 
        {{ site.data.home.description | markdownify }}
      </div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <img src="{{ site.data.home.profile_image | prepend: site.baseurl }}" class="profile-image img-fluid rounded-circle" alt="Responsive image">
      </div>
    </div>
    {%- comment -%} Project Cards {%- endcomment -%}
    <div class="row pt-3 pb-5 d-flex">
      <div class="col-12 py-3">
        <h4>Projects and News</h4>
      </div> 

      {% for post in site.posts %}
      <div class="col-12 col-md-6 col-lg-4 py-3">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="{{ post.intro_image | prepend: site.baseurl }}" alt="Project Card Image"/>
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text"> {{ post.description }} </p>
            <a href="{{ post.url | prepend: site.baseurl }}">
              <button type="button">
                Read more. 
              </button>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>
