---
layout: default
---
{% if page.image %}
<div class="jumbotron subpage-banner text-white"
  style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.44) 0%, #FFF 88.33%, #FFF 100%), url({{ page.image | prepend: site.baseurl}}), lightgray 0px -225.116px / 100% 163.517% no-repeat;">
</div>
{% else %}
<div class="jumbotron subpage-banner text-white"
  style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.44) 0%, #FFF 88.33%, #FFF 100%), url({{ site.banner_image | prepend: site.baseurl}}), lightgray 0px -225.116px / 100% 163.517% no-repeat;">
  <div class="container pt-6">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="post container">
  <div class="row">
    <div class="col-12 pt-1">
      <h1 class="blog-title">{{ page.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 pb-3">
      <a class="back-link" href="javascript:history.back()">
        <i class="fas fa-arrow-left"></i>&nbsp; Back to overview
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 pb-5">
      {{ content | markdownify }}
    </div>
  </div>
</div>